*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

header{
    background-color:#6d597a;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items:center;
    a:link{color:#FFF}
    
    
    
}
img{
        width: 175px;
        height:auto;
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left: 140px;

    }
.title{
    margin-top: 15%;
margin-left: 50px;  
white-space: nowrap;  
}

footer{
    background-color: #355070 ;
    color: #FFF;
    a:link{color:#FFF}

}

.centered{
    text-align: center;
}

.intro{
    max-width: 500px;
    text-align: left;
    display: flex;
}

main{
  max-width: 80%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  list-style-position: inside;
  a:link{color:rgb(100, 97, 97)}
  
  

}
.section{
    margin-bottom: 25px;
}
h3{margin-top: 10px;}